[2017-03-30 18:10] p4u opened #1 "Create Docker image for lime-sdk"
Create a [Docker](https://docs.docker.com/develop/) image for lime-sdk would allow users and developers to easy setup the environment for cooking [LibreMesh](http://libremesh.org/) firmware.

[2017-04-04 22:10] FreifunkUFO opened #2 "use lede-trunk instead of lede-release"
get use of lede-trunk (instead of official release) is nicer for testing our testing firmware testings. (and buildin g testing firmwares for further tests

[2017-04-04 22:17] FreifunkUFO commented on #2
i know: building the right imagebuilder/sdk is another task.
but, do i have to set both imagebuilder AND sdk via "-i" option within the script?

so, more examples for building testing firmwares would be nice.
otherwise all of us will build firmware a bit different, by own workarounds..

[2017-04-05 09:52] p4u commented on #2
The idea behind lime-sdk is to use the official LEDE precompiled SDK and IB. So the generated firmware will be 100% compatible with official LEDE repositories.

The cooker script currently downloads the LEDE 17.01.0 release SDK and IB to compile and generate libremesh. But the idea is to keep different branches into lime-sdk, one for stable release and another for the current release snapshot. So

[2017-04-05 09:53] p4u commented on #2
And yes, you are right that the documentation is still a pending task. I'll work on this the next days before announcing this tool as the official tool for building libremesh firmware.

[2017-04-05 10:24] p4u commented on #2
I just added a new branch named "develop" which points to current LEDE 17.01 snapshot SDK/IB

https://github.com/libremesh/lime-sdk/tree/develop

So if you want to compile the last LEDE source, execute "git checkout develop" on a new (vanilla) lime-sdk.

Let me know if it works for you.

[2017-04-05 12:55] FreifunkUFO commented on #2
thanks for the develop brunch.
its working for me, output is http://gadow.freifunk.net:8004/srv2/libremesh/develop-dev-brunch/lime-sdk/output/ar71xx/generic/Default/lime_default/

[2017-04-05 13:22] p4u commented on #2
I don't get why the "Default" directory, that does not seem correct to me. Can you post the command line used?

[2017-04-05 14:41] FreifunkUFO commented on #2
i was using:

git clone https://github.com/libremesh/lime-sdk.git

cd lime-sdk

git checkout develop

    ./cooker -d ar71xx/generic                        # download SDK and IB

    ./cooker -f                                       # download and prepare feeds

    ./cooker -b ar71xx/generic                        # build the SDK and link it to IB

    ./cooker -c ar71xx/generic --flavor=lime_def

[2017-04-05 15:44] FreifunkUFO commented on #2
is there a possibility (or example) to build libremesh firmware for devices with 4MB-flash? otherwise we have to test with 8mb-flash-devices.

[2017-04-05 23:27] p4u commented on #2
There is not way for the moment... As we use LEDE SDK we cannot modify Kernel, so we need to reduce the space from somewhere else. We have to figure out how to do it.

[2017-04-06 18:45] FreifunkUFO commented on #2
so micha is testing a nano-profile with this lime-sdk right now..

[2017-04-10 20:28] FreifunkUFO commented on #2
4mb devices now with flavour nano working..
to have an example for README we have to do this:

musst du nen pr aufmachen, den vorhin verlinkten commit cherrypicken auf den develop branch

[2017-04-26 20:54] FreifunkUFO commented on #2
nano is now called zero :-o
(lime_nano heißt jetzt lime_zero)

[2017-04-27 15:29] FreifunkUFO commented on #2
im closing this ticket, it doesnt make sense without feedback.
- these 4 commands above dont create libremesh-firmware, but a normal lede-firmware
- all people i asked dont have a problem with that README at all.
- the develop brunch seems to be obsolete
- compiling libremesh with lede-trunk seems to be out-of-scope (so i have to wait some months for testing my tplinks 850v2)

[2017-04-27 15:48] p4u commented on #2
You are right, I've put all the efforts on release 17.01. But as LEDE will also release every few months (the current one is from some days ago 17.01.1) lime-sdk release branch will be also updated.

I will put more efforts on develop as soon as I can.

Right now it is possible to create mini (with web interface) and zero (without web interface) for 4MB routers.

I hope we can have your feedback.

[2017-05-03 15:25] FreifunkUFO commented on #2
i did a flavor "lime-micro" to fit on 4mb devices and to have batctl.
To have libremesh only on lede-releases is nice for stable releases.. but, when having lede- or packages-bugfixes we will be forced to wait a few months to check / continuing our development.

[2017-05-05 00:34] nicopace opened #3 "The update breaks if feeds in feeds.conf references a tag instead of a branch"
This happens with:
[code]
because v17.01.1 is a tag,
and does not happen with
[code]
That is a branch.

The issue comes because for each feeds.conf line you are doing git pull without checking if it is a tag or branch here: https://github.com/libremesh/lime-sdk/blob/master/cooker#L213
You can check the available tags by using ```git tag -l```

[2017-05-05 09:13] p4u commented on #3
Hi.
What you mean by break exactly? Can you attach some output?

If "git pull" is executed over a tag it does just nothing, so IMO it is not breaking anything. The only thing is that git complains... It might be controlled but does not affect in any way to the whole cooking process.

[2017-05-05 12:10] nicopace commented on #3
Sorry about the alarming message... we were having issues and thought it was because of that error.
It does nothing bad, but it would be a good aesthetic improvement to just check if it is a tag don't do the pull, because it is not needed, and because it throws a visual error.

[2017-05-05 12:16] p4u commented on #3
Agree.
I'll do it when I have time but it is not a priority in my tasks list. If you want to send a PR, it will be welcome :)

[2017-05-11 13:25] gmarcos87 opened #4 "x86/generic: Cannot install package lime-full"
I am trying to cook a generic x86 image of Libremesh to run in VirtualBox. I execute:
[code]
And I get this error as a result:
[code]

[2017-05-11 13:35] p4u commented on #4
It means that lime packages have not been compiled...

That should be done automatically, but try execute first:
./cooker -b x86/generic

And check if there is any error.

On 11/05/17 15:25, Marcos Gutierrez wrote:

--
./p4u

[2017-05-11 13:49] gmarcos87 commented on #4
I tried, same error. This is the output of ./cooker -b x86/generic
[code]

[2017-05-11 14:27] p4u commented on #4
Something is broken in your lime-sdk. It looks like some feeds are
missing. Maybe the "git clone" failed when downloading the feeds.

Can you try to start from scratch and execute step-by-step ? (example
for ar71xx/generic)

./cooker -d ar71xx/generic
./cooker -f
./cooker -b ar71xx/generic
./cooker -c ar71xx/generic --flavor=lime_default

On 11/05/17 15:49, Marcos Gutierrez wrote:

--
./p4u

[2017-05-15 12:16] dangowrt opened #5 "ramips/mt7621 missing in cooker"
Support for MT7621 is missing in cooker, despite being supported much better than MT7628 and MT7688. I believe it should be added as well.

[2017-05-16 08:55] aparcar opened #6 "args for custom packages and custom flavor name"
It could be useful to set to be installed packages via command line as well define a custom flavor name.

    ./cooker -c ar71xx/generic --profile=tl-wdr3600-v1 --packages "luci-ssl -kmod-usb-core" --flavor-name=gateway-foobar

the image would be created at `lime-sdk/output/ar71xx/generic/tl-wdr3600-v1/gateway-foobar/`

[2017-05-16 09:25] p4u commented on #5
Done https://github.com/libremesh/lime-sdk/commit/c3426e68263f9b5857bebde9b4e67aa9fba683b7

[2017-05-16 09:25] #5 closed

[2017-05-16 10:18] p4u commented on #6
Right now you can use cooker like this to achieve what you are proposing (if I understood correctly).

If the flavor does not exist in flavors.conf then only the default LEDE set of packages are selected. The PKG system variable is used to specify extra packages.

However, using `--packages` instead (or in addition to) a system variable might be more explicit and easy to understand for the user. I

[2017-05-27 20:16] darkdrgn2k commented on #2
LEDE Trunk from 850v2 using stock BUILDROOT and lime feeds

#Clone BuildRoot
git clone https://github.com/lede-project/source

#Add Feed
cd source
cp feeds.conf.default feeds.conf
echo "src-git lime https://github.com/libremesh/lime-packages.git" >> feeds.conf

#Update and Install Feed
./scripts/feeds update -a
./scripts/feeds install -a

#config
make menuconfig
**ill post my config file later**

[2017-05-27 23:20] FreifunkUFO commented on #2
now i will try:

git clone https://github.com/freifunk-leipzig/libremesh-lime-sdk.git

cd libremesh-lime-sdk/

git checkout ledetrunk

    ./cooker -d ar71xx/generic                        # download SDK and IB

    ./cooker -f                                       # download and prepare feeds

    ./cooker -b ar71xx/generic                        # build the SDK and link it to IB

    ./cooker -c

[2017-05-27 23:22] FreifunkUFO commented on #2
commands working :-)
but for my device 850v2 the size is too small for jffs.
f.i. some changes (in lede?) are producing some waste for (the disabled) opkg

root@LiMe-b93b9d:~# du -sh /rom/usr/lib/opkg/
192.0K  /rom/usr/lib/opkg/
root@LiMe-b93b9d:~# dmesg | grep few
[   16.439356] jffs2: Too few erase blocks (2)
root@LiMe-b93b9d:~#

[2017-05-28 12:36] p4u commented on #2
If you need to check a message error, you should execute the cooker with V=s and J=1

`V=s J=1 ./cooker -b ar71xx/generic`

This is the current error when compiling LEDE SDK _trunk_.

So ath9k compilation is crashing, I think you should ask LEDE.

[2017-05-28 22:23] FreifunkUFO commented on #2
V and J before cooker command? there is no documentation about that :-o
i was trying V=99 behind cooker command, with no impact.. and i thought without j=x there is j=1. j has to be capitalized?

but i found another mistake in my modified cooker script and was fixing that already. (download-url)
next problem (see above comment) is f.i. to get rid of files in /rom/usr/lib/opkg/. might be another ti

[2017-05-28 22:26] FreifunkUFO commented on #2
yesterday @darkdrgn2k tried it with disabling a nat-package, and stripped busybox a bit (inside "make menuconfig", without lime-sdk, and without documentation). but still too big firmware image to have jffs

btw, at the moment @darkdrgn2k and me are only trying lede-trunk because we have tplink 850v2, which is only supported by lede-trunk, but not lede-release. i know, we should wait some months f

[2017-05-30 11:59] FreifunkUFO commented on #2
here is a ticket for the bug @darkdrgn2k found:

imagebuilder doesnt delete /usr/lib/opkg anymore

https://bugs.lede-project.org/index.php?do=details&task_id=817

[2017-05-30 13:10] FreifunkUFO commented on #2
we might also do not need /ar71xx/generic/ib/build_dir/target-mips_24kc_musl/root-ar71xx/etc/board.d/01_leds

37k

and /etc/opkg/keys (when biuilding without opkg)

and /etc/uci-defaults/91_lime_config also seems to be unneeded: copying /etc/config to another directory doenst make sense, because its existing in /rom/etc/config...

[2017-05-31 15:33] FreifunkUFO commented on #2
i heared @NeoRaider is changing things inside imagebuilder atm, maybe to fit it to gluon.

[2017-06-01 19:11] nicopace opened #7 "test lime-sdk on a clean system"
I'm doing a training for a new developer to step up and contribute to the project, and we found out that a lot of dependencies are required to have lime-sdk work.

We should be testing it on a bare installation of at least ubuntu and debian to ensure that it works.

The required packages can be found here: https://lede-project.org/docs/guide-developer/install-buildsystem

[2017-06-02 08:27] gmarcos87 commented on #4
The problem occurs when one of the packets fails to download. In intermittent connections or of poor quality it is almost impossible to finish downloading all the packages without at least one fails, and the solution is to try again to download all new ones. We should be able to identify which packets failed and be able to remove those downloads. The "solution" was to copy with a pendrive the fold

[2017-06-02 11:25] ilario commented on #4
@gmarcos87 in case of a failed download usually is enough to issue again the same command. Many packets have MD5 check so they will not download broken.

[2017-06-03 00:39] gmarcos87 commented on #4
How to reproduce:

- Clone lime-sdk
- Run ```./cooker -c x86/generic --profile=Generic```
- Interrupt the Internet connection when cloning feeds and wait for download timeout
- Compilation will fail as expected
- If re-executing ```./cooker -c x86/generic --profile=Generic``` with the active Internet connection, the missing feeds are not resumed or attempted.

[2017-06-03 12:05] p4u commented on #7
Link added to README on commit 72f46a4b9bcb92db0b2d577e6fb571ce30edf03e

[2017-06-03 12:07] nicopace commented on #7
great, thanks!

[2017-06-03 12:07] #7 closed

[2017-06-04 16:53] ilario commented on #4
Ok, this is very interesting, I would consider this as a lime-sdk bug. Can you update the issue title?

[2017-06-05 13:17] p4u commented on #4
Will be something like "Check correct download of feeds"

[2017-06-11 22:09] p4u opened #9 "Wizard for adding a feed"
An easy to use wizard might be used for adding a custom feed repository into the SDK. That might help developers to test their software.

[2017-07-09 14:41] nicopace opened #11 "Build a single package"
As a package developer I need to be able to run the compilation step of my package many times and as fast as possible.
Right now, with the lime-sdk I need to wait for all the image to build... this can take ~1 minute, while building the package directly using openwrt-sdk takes 2 seconds.
Would be great to bypass the building of all but one package, and then optionally be able to create an image wi

[2017-07-10 16:29] p4u commented on #11
Added on commit: https://github.com/libremesh/lime-sdk/commit/127b9cdc10dc8076cd01504e2332031646bd3429

Example: ./cooker -b ar71xx/generic --package=lime-proto-bmx7

[2017-07-10 16:59] p4u commented on #6
Added on commit 5c27eb26712eb641fcddef7662bad0c33c2ad9f7

[2017-07-10 21:36] aparcar commented on #6
Thanks

[2017-07-10 21:36] #6 closed

[2017-07-11 08:07] nicopace commented on #11
It is telling me this:
[code]
And I've run it with V=s and J=1

[2017-07-14 01:31] nicopace opened #12 "Output error code 1 when downloading packages"
# Expected behaviour

Error code 0 when running ```./cooker -d ar71xx/generic```

# Actual behaviour

Error code 1.
Output here: https://travis-ci.org/libremesh/lime-packages/builds/253444589#L623

[2017-07-18 18:03] p4u commented on #12
Not sure why cooker returns 1 but on the output there is not any error.

[2017-07-18 19:48] nicopace commented on #12
I'd it returns 0 it will comply wirh Unix standards... It's a feature... I can do it in the CI... Or a patch :)
Will try a patch later

El 18 de julio de 2017 8:03:23 PM GMT+02:00, Pau <notifications@github.com> escribió:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2017-07-21 14:00] ilario opened #13 "Exit code 1 even when cooking succeeded"
This is caused by "return 1" in [this](/libremesh/lime-sdk/blob/master/cooker#L125) line being executed both when failing and when succeeding.
A problem caused by this is [continuous integration](https://travis-ci.org/libremesh/lime-packages/builds/256007320) failing even if the cooking was ok.

[2017-07-23 18:35] ilario commented on #13
Fixed by merge of #15

[2017-07-23 18:35] #13 closed

[2017-07-23 18:46] ilario opened #16 "Have meaningful exit codes, not only for cooking"
For solving #13, the pull request #15 took exit code from cooking process and returned it at the output of cooker.
The exit code is forced to zero for the other tasks. For example, for downloading the SDK and IB the exit code will be always zero even when a failure happened (related discussion on #12).

[2017-07-23 18:46] ilario commented on #12
The exit code is forced to zero unless when cooking, so for downloads is also forced to zero. I would call this solved and move discussion on #16.

[2017-07-23 18:46] #12 closed

[2017-07-25 21:41] nicopace opened #17 "How do you update the Communities network profiles?"
Let's say someone else is mantaining my profle.
Is there any way I can call to update the community profiles from github?
like doing the 'git pull'

[2017-07-25 22:35] nicopace opened #18 "--no-update don't stop from updating lede-project Packages.gz"
no matter if you add the --no-update flag or not, it tries to download the Packages.gz file.

[2017-07-25 22:41] nicopace commented on #18
now I see this reference:
https://github.com/libremesh/lime-sdk/blame/master/README.md#L195
But don't know what that means

[2017-07-31 22:42] p4u commented on #18
It means that the snippet must be executed (see snippets directory)

[2017-07-31 22:42] p4u commented on #17
Yes, git pull is fine. But an automatic procedure should be good to have as an option for the cooker.

[2017-07-31 22:46] p4u commented on #16
I'm thinking about using "set -e" on some parts of the code where an non-zero exit code might be critical.

[2017-08-01 22:56] nicopace commented on #18
Does it make sense to run the snippet when calling --no-update ?

[2017-08-01 23:41] dangowrt opened #19 "consolidation of package"
Currently packages are passed to the ImageBuilder by simply appending the string coming from flavours.conf with the PKG environment variable. This is insufficient in case of the user wanting to install a package via PKG variable which is masked by a `-` character in front of the package. In such a case (such as `firewall`) the package cannot be installed via the PKG variable at all.

[2017-08-03 09:06] p4u commented on #19
Is this not working for you?

`./cooker -c ar71xx/generic --profile=tl-wdr4300-v1 --extra-pkg="-firewall luci-app-3g"`

[2017-08-03 09:08] p4u commented on #19
Ah, ok! You mean that packages which are market with minus on the flavor cannot be installed by the user.

So we need to implement a funcion on cooker to join the package lists and add preference to the user choice.

[2017-08-03 10:28] dangowrt commented on #19
Precisely. You got it.

[2017-08-03 17:57] nicopace opened #21 "Capture the "[mktplinkfw] *** error: images are too big" error when building an image"
When creating an image that is bigger than the available space, the command outputs an error, but at the end the command says it is successful.

This is the last part of the output, it says that it is too big by 158546 bytes:
[code]

(based on https://github.com/libremesh/lime-packages/issues/194#issuecomment-319406149 and https://github.com/libremesh/lime-packages/issues/194#issuecomment-31951618

[2017-08-29 01:09] gmarcos87 opened #22 "Path error when cooking an individual package"
There is a small bug when cooking an individual package. The cooker indicates a different path than it actually is.
[code]
But the file is locate in **/home/okupa/libremesh/lime-sdk/output/packages/lime-app_0.0.1-1_mips_24kc.ipk**

The line that prints the output is https://github.com/libremesh/lime-sdk/blob/6b6d03150782ed83d2dd188f9d9cf8fa83ccffbe/cooker#L238

[2017-08-29 08:56] ilario commented on #11
I think this is solved, is it right?

[2017-08-29 12:14] nicopace commented on #11
yes... thanks

[2017-08-29 12:14] #11 closed

[2017-09-12 11:12] #22 closed

[2017-09-12 11:13] p4u commented on #18
That could be done, yes.

[2017-09-15 10:02] p4u commented on #19
implemented on commit https://github.com/libremesh/lime-sdk/commit/75ce2b3b099da646d2dbf1705769fb94a59c2131

So by order of preference:

 1. User defined packages on --extra-pkg
 2. Packages on global PKG var
 3. Community profile packages
 4. Flavor packages

[2017-09-15 11:44] #19 closed

[2017-09-28 05:47] nicopace opened #26 "when the build process is interrupted, the system gets broken somehow"
how to reproduce:
* ./cooker -c ar71xx/generic --flavor=lime_default --profile=tl-wdr4300-v1
* stop the execution while building
* run again

it will say that couldn't cook the image.

[2017-09-29 20:43] aparcar commented on #17
isn't `--update-communities` already doing the trick?

[2017-09-30 13:26] ilario commented on #17
Yep, I tested and @p4u already fixed this in 14a3d17, closing.

[2017-09-30 13:26] #17 closed

[2017-09-30 13:33] ilario opened #27 "Remove break after option --update-feeds"
Currently cooker does not evaluate any option after "--update-feeds" because of break [here](https://github.com/libremesh/lime-sdk/blob/master/cooker#L483).

[code]

This can be fixed replacing it with shift. Is this correct @p4u?

[2017-10-10 22:50] develroo opened #28 "Image build failing. Cannot install package lime-full"
Hi,

Pulled the git. Followed the instructions and tried to built and image but got the following error.

[code]

even running with

```J=1 V=s ./cooker -c ar71xx/generic  --profile=tl-wr940n-v4 --flavor=lime_default ```

Not sure where to go now?

[2017-10-10 22:59] ilario commented on #28
There should be more errors earlier in the log, can you post them also?

[2017-10-10 23:32] develroo commented on #28
Hmmm looks like an error building openssl. Seems there are whole load of undefined functions.
[code]
I have uploaded the output [here](https://dropfile.to/7FGmHU4).

hope that helps.

[2017-10-11 12:25] p4u commented on #28
On 11/10/17 01:32, develroo wrote:

Not the first time I see this error but I'm not sure which is the real
cause. However it is something related to the host machine, not to the
lede/libremesh SDK.
Which distro do you use? Did you install all the dependencies?
https://lede-project.org/docs/guide-developer/install-buildsystem

[2017-10-11 13:10] ilario commented on #28
Looks like what you're missing on your machine is `libssl-dev`

[2017-10-11 13:29] develroo commented on #28
Nope. It is not that. FTR I am using Debian/Testing

[code]

[2017-10-11 13:45] develroo commented on #28
I think I found the problem.

Looking at the Makefile in lime-sdk/feeds/base/package/libs/openssl

[code]

points to openssl-1.0.2**k**

k does not exist. The latest patch version is l.

I will edit the Makefile and see if that fixes it.

[2017-10-11 14:11] develroo commented on #28
Yup. That seemed to fix it.

N.B. You also need to include the sha256sum value into the Makefile, which sit alongside the tar.gz file.

[2017-10-11 14:41] develroo commented on #28
Hmmm. I thought I was going to end up with a sysupgrade.bin file instead I end up with others?

[code]
What am I missing?

[2017-10-11 16:54] ilario commented on #28
The file with the **k** does exist
https://www.openssl.org/source/openssl-1.0.2k.tar.gz
but maybe they fixed the error you hit in **l** revision?
I don't know, can someone else on Debian testing reproduce this? The compilation was ok for me on Arch.

You didn't get the image compiled 'cause you're using the lime_default flavor (for routers with more than 4 MB of flash memory) for a router with 4 M

[2017-10-17 17:58] bvujnovac opened #30 "files from community profile not in files_dir folder"
#cp -rf ${myfiles}/* ${ib_files}/ 2>/dev/null
 cp -rf ${ib_files}/* ${myfiles}/ 2>/dev/null

I had a problem with files from community not being in files_dir.
the first, or commented line is original code that was in the cooker file I simply switched places of files_dir and tmp_dir variables and now it works(code from the second line)

[2017-10-18 10:19] p4u commented on #30
Do you use the last version of lime-sdk (master branch) ?

What you say do not have much sense fore me... $ib_files is the directory used by imagebuilder to include the files when cooking -c, by default at lime-sdk/tmp/files/

So the content from $myfiles (which is the directory lime-sdk/files) is copied to $ib_files to be copied on the resulting firmware when Imagebuilder is executed.

[2017-10-18 10:21] p4u commented on #27
Yes you'r right, break might be removed.

[2017-10-18 10:22] #1 closed

[2017-10-19 21:36] ilario commented on #28
@develroo did you manage to compile the image? Shall I close this?

[2017-10-19 21:41] ilario opened #31 "--update-feeds by default?"
In my opinion cooker should update the feeds (`--update-feeds`) by default, and having a `--no-update-feeds` required for avoiding this.
This would limit situations where users compile broken formware like [here](https://lists.libremesh.org/pipermail/lime-users/2017-October/000911.html).

[2017-10-20 00:02] develroo commented on #28
Yes I did build it in the end but there really ought to be a warning of some sort if  you are building to a target with or less than 4Mb that you should not build the lime-full image  only lime_mini or lime_zero ones.

Thanks for the help. Got there in the end.

[2017-10-20 09:17] ilario commented on #28
Yep, I agree, this would be partially solved in #21. A way for detecting routers flash size is also interesting for jefe/chef and has been requested to LEDE people: https://lists.libremesh.org/pipermail/lime-dev/2017-October/000994.html

[2017-10-20 09:17] #28 closed

[2017-10-23 23:05] aparcar opened #32 "promote https://chef.libremesh.org/"
The service slowly becomes more stable so some people might like to use the online editor instead of setting up their own builder

* https://imagebuilder.libremesh.org/
* https://ib.libremesh.org/

[2017-10-29 12:12] aparcar commented on #31
Sound good.

[2017-10-29 19:55] ilario commented on #18
So? Can we close this?

[2017-10-29 21:43] FreifunkUFO commented on #32
would ne nice, to finish some things first. the name is discussed at lime-dev malingliste atm. some parameters are changing atm and some final tests have to be done before giviing it more people for usage.

[2017-10-29 21:45] ilario commented on #32
Ok :) let's pause #34 (anyway we already linked that in lime-package readme). For the name, is also the subdomain imagebuilder.libremesh.org going to change or just the "jefe" name?

[2017-10-30 09:03] AndroidCloned opened #35 "Compile error"
I cannot successfully compile Target profiles for the ar71xx/generic target=Archer-C59-V1 or Ramips/7620 target=EX3700-3800

I have tried several environment variables and a clean git clone using the Development branch as both of these profiles are not found in the master branch. Strangely enough I have a working archer c59 firwmare image that UFO built in April which is partially working without

[2017-10-30 14:37] ilario commented on #35
Hi @AndroidCloned, can you post the full output of cooker (or a link to a pastebin with it)?
Likely real the error is hidden in some row above what you posted here.
Thanks!

[2017-10-30 20:21] AndroidCloned commented on #35
@ilario Thanks for the quick response! Much appreciated. Here is the paste bin on a fresh git clone  using the develop branch. https://pastebin.com/9g3gHmbQ

I see a similar issue in https://github.com/libremesh/lime-sdk/issues/2

I am not sure how he was able to compile the firmware.

[2017-10-30 20:28] ilario commented on #35
Can you try if using lime-sdk master branch you get the same error?

[2017-10-30 20:36] AndroidCloned commented on #35
If I use the master branch I can compile as normal. Unfortunately, I have several archer-c59-v1 routers that I am working with which are not in the master branch. @FreifunkUFO is the only one who has a working libremesh build from April.

[2017-10-30 21:11] ilario commented on #35
I reproduced obtaining exactly the same error. @p4u pls

[2017-10-30 21:21] svalo commented on #27
I'd like to take care of this, on which branch should I work?

[2017-10-30 21:28] ilario commented on #27
Let's go for master, develop is place for building trunk (and is broken, see #35)

[2017-10-30 21:29] ilario commented on #35
Pau had your same error months ago: https://github.com/libremesh/lime-sdk/issues/2#issuecomment-304510970

[2017-10-31 00:02] ilario commented on #35
It looks like a problem from LEDE to me.

Anyway the problem is that two files `lede/ramips/mt7620/sdk/build_dir/target-mipsel_24kc_musl/linux-ramips_mt7620/compat-wireless-2017-01-31/include/linux/ath9k_platform.h` and `lede/ramips/mt7620/sdk/build_dir/target-mipsel_24kc_musl/linux-ramips_mt7620/linux-4.9.58/include/linux/ath9k_platform.h` are different, the first has a line more than the second:

[2017-10-31 12:31] FreifunkUFO commented on #35
i think its a problem with lime-sdk development brunch.
i dont understand these settings there, it seems to be a wild mix. https://github.com/libremesh/lime-sdk/compare/develop but its not lede-trunk in there. maybe its also affected from that "frozen wireless-compat"?

you can see it in your pastebin log file, "compat-wireless-2017-01-31", but on lede-trunk there is a newer version (f.i. krack is

[2017-10-31 12:34] FreifunkUFO commented on #2
i dont understand these settings there, it seems to be a wild mix. https://github.com/libremesh/lime-sdk/compare/develop but its not lede-trunk in there. maybe its also affected from that "frozen wireless-compat"?

[2017-10-31 13:03] ilario commented on #35
@FreifunkUFO I also suspected about the frozen compat-wireless but I could find no references to it anywhere in the code so I suppose it's not used (still waiting for @p4u's answer on libremesh/lime-packages#144).

I tried tplink 4300, had the same problem and solved with the identical workaround. I'm going to comment on #2 and close this if you agree.

[2017-10-31 13:21] AndroidCloned commented on #35
I believe this is the case as well. I was comparing sources and came across https://github.com/lede-project/source/blob/master/package/kernel/mac80211/Makefile as well as the kernel source which is 13 days old https://git.kernel.org/pub/scm/linux/kernel/git/wireless/wireless-testing.git

Thank you everyone for resolving my issue. This does mean our snapshot builds are vulnerable to the krack attac

[2017-10-31 13:53] ilario commented on #35
Ok, let's move the discussion on #2 and on #33 for having a branch for 17.01.4 (which is be Krack safe I suppose...?)

[2017-10-31 13:53] #35 closed

[2017-10-31 14:04] ilario commented on #2
On #35 I described a ugly workaround for compiling with current develop branch.

I don't think that @p4u wants to use develop for compiling on LEDE trunk, but on 17.01, is this correct?
Anyway @FreifunkUFO can you make a PR against develop with how should be the feeds.conf.default for compiling on LEDE trunk?

[2017-10-31 15:51] FreifunkUFO commented on #2
@ilario no. i dont tried it within the last months.
but you might only change "lede-17.01" to "master" sererval times in the feeds.conf.default

[2017-11-01 10:15] p4u commented on #2
The current develop branch of lime-sdk should compile LEDE 17.01 in-development version. On feeds.conf LEDE source points to

https://git.lede-project.org/source.git;lede-17.01

Which is the in-development (previously known as trunk) branch.

[2017-11-04 18:01] aparcar commented on #32
@ilario we decided to use chef.libremesh.org

[2017-11-04 18:03] aparcar opened #39 "Make cooker use 17.01.4"
There have been a couple of security upgrades within the last weeks. Cooker currently still uses 17.01.2.

[2017-11-06 16:58] p4u commented on #39
Branch for 17.01.4 has been created, once it is tested we can merge it with master.

[2017-11-06 17:44] ilario commented on #32
@aparcar great, going to modify the PR #34

[2017-11-06 17:46] ilario commented on #32
Wait, which will be the best URL? `https://chef.libremesh.org/imagebuilder` or `https://chef.libremesh.org`?

[2017-11-07 17:54] #27 closed

[2017-11-11 17:00] ilario commented on #32
It's the second one.

[2017-11-11 17:00] #32 closed

[2017-11-19 11:43] p4u commented on #31
Agree

[2017-11-28 14:01] ilario opened #44 "Branch for compiling with new web UI"
The new web interface developed by @gmarcos87 is based on LuCI2 and is located here:
https://github.com/libremesh/lime-packages-ui
and here:
https://github.com/libremesh/lime-app/

We need a branch for compiling an updated 17.01.4 LEDE with the new UI, it will be something like this old branch:
https://github.com/libremesh/lime-sdk/compare/luci2

Some notes:

* abandoned https://github.com/libreme

[2017-11-28 15:43] nicopace commented on #44
It is not based on LuCI2 ;) It is based on his own doing (using Preact and PWA)

[2017-12-15 13:05] p4u commented on #30
Should be solved now.

Thanks for reporting.

[2017-12-29 23:51] nicopace opened #47 "Have a per-community feeds.conf and release file"
Lime-sdk allows to config a feeds.conf file where you can specify the feeds.
For those added from a VCS you can specify a hash reference, a tag or a branch.

The feeds.conf defines the building environment parameters... so if you have a build environment that requires a different set of feeds, a different version of a feed, or a different source of a feed, you need to clone another env, and it is

[2018-01-08 11:09] p4u commented on #47
It adds extra complexity and implies important changes. Right now, the community is only used when cooking (packing and generating firmware). So the community concept is right now _a customized collection of packages and files_.

To add _source_ feed support per community, cooker must know it in advance (when building but before cooking). So the feed is cloned and the packages included compiled.

[2018-01-08 11:34] ilario opened #49 "Migration to OpenWrt"
Mostly solved by #48
LEDE is still mentioned in this repository here:
https://github.com/libremesh/lime-sdk/search?q=lede

[2018-01-08 20:05] nicopace opened #50 "Add support for feeds.conf src options"
In https://wiki.openwrt.org/doc/devel/feeds openwrt sdk and ib support multiple feed fetching methods.
Giving support to at list src-link or src-spy will allow to have local repositories integrated within lime-sdk.

[2018-01-09 16:02] p4u commented on #50
This is already possible be adding your own feeds in feeds.conf.default

There is a documentation about how to use your own feed in the README file of lime-sdk

[2018-01-09 16:03] #39 closed

[2018-01-09 16:21] nicopace commented on #50
I tried it a few days ago and src-link and src-cpy where not working.
When I changed them to src-git it started working.

Could it be because it is not implemented here?
https://github.com/libremesh/lime-sdk/blob/master/cooker#L280

[2018-01-09 16:30] ilario commented on #39
I think it was closed because of the merge of #48 into develop branch.

[2018-01-09 16:44] p4u commented on #39
Actually 17.01.4 was merged into 'master' branch of cooker.

On 09/01/18 17:30, Ilario Gelmetti wrote:

[2018-01-09 16:48] p4u commented on #50
Ok, now I understand the issue.

And yes, it probably needs some changes in the code. However you can always use git in a local directory

Example of what I'm saying:

mkdir feed1
cd feed1
git init
cd ..
git clone ./feed1 feed2

At this point feed2 is a clone of feed1 and the remote is a local directory file.

On 09/01/18 17:21, Nicolás Pace wrote:

[2018-01-09 21:43] nicopace commented on #50
Yes, I was doing that... just wanted to state that it in order to comply with how openwrt defines the feeds.conf, there was some lacking. Not difficult dough'... could be left as an exercise for someone starting with lime-sdk :)

[2018-01-12 15:43] p4u commented on #50
Ok, agreed.

Right now cooker ignores the non-git feeds
https://github.com/libremesh/lime-sdk/blob/master/cooker#L280

That may be changed to support also more kind of feeds.

[2018-01-17 18:46] nicopace commented on #50
This shouldn't be closed, as it is still a pending and useful feature. Reopening it.

[2018-01-21 04:01] darkdrgn2k commented on #2
So im jumping back on the band wagon here :)

so new cooker can build wa850re
```./cooker -c ar71xx/tiny --profile=tl-wa850re-v2 --flavor=lime_zero```

but image is "too large"

[code]

working on a new flavoud
[code]
still way out of line for the min size

However if i can figure out how to set CLEAN_IPKG for the sdk install it may save quite a bit of space.

[2018-02-04 12:45] ilario commented on #44
Updates on this? @gmarcos87 @nicopace
Do you think that the new webui will be default on upcoming release?

[2018-02-04 15:14] nicopace commented on #44
Have already added it to lime_default profile!
You can close this

On February 4, 2018 9:45:14 AM GMT-03:00, Ilario Gelmetti <notifications@github.com> wrote:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2018-02-04 15:18] ilario commented on #44
EPIC!

[2018-02-04 15:18] #44 closed

[2018-02-11 11:02] ilario opened #54 "Including OpenWrt repositories in libremesh.repositories.conf"
What about having OpenWrt/LEDE repositories additionally to our own packages repositories configured in libremesh.repositories.conf? As we're using the IB and SDK the packages will be compatible.
This would allow one to use cooker with remote packages download (--remote option) and adding packages not present in our repositories (--extra-pkg="pkg1 pkg2" option).
How can we assure that in case of n

[2018-02-19 12:46] FreifunkUFO commented on #2
ping @dangowrt, you are testing with snapshot at the moment..
what is needed to change? are you trying with openwrt?

[2018-02-19 14:44] darkdrgn2k commented on #2
If that was @ me then yes i am

I ran into a snag and bricked one of my nodes.  (It may have been that i flashed the wrong image or the build was wrong)

Anyway Warning: to unbrick it you have to crack the case and the device will never look the same again (sonic welding)

Latest config i tried to have  enough free space to add overlay
https://pastebin.com/4GwWCywJ

Its getting harder and harder t

[2018-02-19 15:02] dangowrt commented on #2
i built with lime-sdk, but don't have a chance to test on real
hardware (in our crowded kitchen)... also now that i'm home i
got less than 20kb/s which is insufficient even for just downloading
the package lists of the IB (which need to run through every time...)
changes were rather trivial, some changes to options.conf and
feeds.conf.default to use snapshot as version and then it run through.

[c

[2018-02-19 22:38] darkdrgn2k commented on #2
Ah mine is for the tl-wa850re-v2 to try to save space.. never mind.

[2018-02-20 14:11] FreifunkUFO commented on #2
@dangowrt please reboot 206-41 (or better that ubnt behind it) to get more speed

[2018-03-22 17:37] nicopace commented on #2
Can we close this issue @FreifunkUFO ? it is one ~year old.
or is there any pending question regarding this?

[2018-04-14 10:57] bvujnovac opened #57 "libremesh repos are not working lime-sdk/libremesh.repositories.conf"
when using --remote option in cooker remote libremesh repository's return "not found"

output from shell:

Downloading http://repo.libremesh.org/current/packages/mips_24kc/libremesh/Packages.gz
*** Failed to download the package list from http://repo.libremesh.org/current/packages/mips_24kc/libremesh/Packages.gz

Downloading http://repo.libremesh.org/current/packages/mips_24kc/libremap/Packages.gz

[2018-05-30 07:45] aparcar commented on #57
Hey, that was a problem with the server misdirecting `http` traffic. Was fixed a few days ago

[2018-05-30 07:45] #57 closed

[2018-05-30 07:48] aparcar commented on #54
I'd prefer to *only* build lime specific packages. Wouldn't it be possible to change our server settings to forward requests to `/base /packages/ /luci/ etc` to the official servers? So we don't actually build the stuff but still allow the `--remote` parameter.

[2018-05-30 08:00] aparcar commented on #49
@patogit are you up for that job?

[2018-05-30 08:17] aparcar commented on #30
This was fixed a while ago

[2018-05-30 08:17] #30 closed

[2018-05-30 08:18] aparcar commented on #26
Could you provide  more details? I couldn't reproduce that

[2018-05-30 08:24] patogit commented on #49
yes, I'm up for it, on Friday or next week. Looks like mostly just text replacement, plus some link checking and file name testing, shouldn't take long. The .gitignore file that mentions a `lede` directory looks potentially more complicated, as I don't see any such directory in the repo.

[2018-05-30 08:35] aparcar commented on #2
Closed due to no reponse

@FreifunkUFO please reopen if still required.

[2018-05-30 08:35] #2 closed

[2018-05-30 14:18] aparcar commented on #50
@nicopace please review PR

[2018-06-13 09:33] aparcar commented on #50
fixed

[2018-06-13 09:33] #50 closed

[2018-06-20 10:58] nicopace commented on #31
I would say it would be relevant to tell the user that there are updates that can be done, but not enforce by default to update.
It is an undesired sideeffect if you want to have reproducible builds, as each time you run build you may get different packages without the parameters changing in your commandline.
I would propose for the system to do a non-destructive action of checking if there were c

[2018-06-28 16:21] 1am opened #81 "luac missing"
Hi,

I'm trying to build lime_default ( `./cooker -c ar71xx/generic --flavor=lime_default`) and it fails because of missing luac dependency. I've looked into **17.01.4/ar71xx/generic/sdk/.config** and it's not selected. After changing `defconfig` to `menuconfig` in https://github.com/libremesh/lime-sdk/blob/master/cooker#L217 and selecting luac it still fails on building libremap-agent/luasrc.

Wh

[2018-06-29 06:02] 1am commented on #81
Ok, I think my internet connection broke when downloading some of the packages. After clearing everything and retrying a few times it worked.

[2018-06-29 06:07] #81 closed

[2018-06-29 11:37] 1am opened #82 "Adding own repository and package"
Hi

I have a private repository with few custom packages which I have been using across Lede/OpenWRT builds. I'm struggling to add them while following https://github.com/libremesh/lime-sdk#add-your-own-feed-repository instructions. It seems to be ok as the custom repo is checked out, it is in the custom target definition but i still don't see it when running menuconfig and the build generally fai

[2018-06-29 12:01] 1am commented on #82
It seems that my package even though is selected in libremesh.sdk.config.local it never makes into *17.01.4/ar71xx/generic/sdk/.config*. The line for my specific package is not present in SDK's .config and the feed is not present in *17.01.4/ar71xx/generic/sdk/package/feeds* folder but is there in *lime-sdk/feed*

[2018-07-05 05:51] #82 closed

[2018-07-05 12:55] 1am opened #85 "Install OpenWRT kmod-usb-serial-ftdi package, tmux, screen"
Hello,

I'm trying to add few standard packages from OpenWRT package repository and I see that they are being downloaded into packages directory but when I try running cooker with modification to shoe menuconfig instead of defconfig I can't select or find them.
What is the want to add the following:
* kmod-usb-serial-ftdi
* tmux
* screen

I don't get the fill cooker flow yet, could someone please

[2018-07-05 14:10] aparcar commented on #85
how do you add them? You could for instance extend the `flavors.conf` file

[2018-07-05 14:35] 1am commented on #85
I've added my own flavor in **flavors.conf.local**

[code]

Afterwards I build everything by:

[code]

"MyApp" and "my-app-2" from custom repository (added proper entry to **feeds.conf.default.local**) are visible, others aren't. Also resulting build contains my apps but not the other, standard packages.

[2018-07-05 20:18] 1am commented on #85
Maybe there is some blacklist for modules? The thing I can't find is where these modules are removed as clearly they're downloaded to local feeds/packages folder. I don't see why a custom repo with packages is working and the OpenWRT ones aren't.

[2018-07-06 17:05] aparcar commented on #85
I think `feeds.conf.default.local` is nowhere checked in the `cooker` script, did you changed it in the options file?

[2018-07-06 20:15] 1am commented on #85
It works. I think this part checks for **feeds.cond.default.local** https://github.com/libremesh/lime-sdk/blob/master/cooker#L267 I've followed https://github.com/libremesh/lime-sdk#add-your-own-feed-repository when getting started.

My **feeds.cond.default.local** is a copy of https://github.com/libremesh/lime-sdk/blob/master/feeds.conf.default with one additional line at the end which points to

[2018-07-11 08:01] 1am commented on #85
Does anyone know cooker well enough to be able to determine why the standard packages are being removed and don't make it to the target image?

[2018-07-11 08:51] aparcar commented on #85
Sorry this was completely wrong, I meant to write `flavors.conf.local`, which isn't even related but I initially misread your questions.

So you add packages to flavor but don't add the `--remote` parameter, thereby the packages are searched locally. However, the `cooker -b` doesn't know you have  added special packages via flavors and rely on the standard config in [libremesh.sdk.config](https://

[2018-07-12 11:35] 1am commented on #85
Hi,

Thank you for your reply.

I've tried working on cooker checked out from [development branch](https://github.com/libremesh/lime-sdk/commit/50c681c780033e55795967fe143c13ec09b1fe93) and adapted my build script along with the options. The result is that it's now failing on my custom packages again so probably missed something? Didn't yet dig through the changes between development and master br

[2018-07-30 16:45] 1am commented on #85
@aparcar Do you maybe have a hint on what could be wrong with my setup?

[2018-08-03 05:36] 1am commented on #85
What eventually seemed to do the job is the following flags

[code]

I'm not sure if it was `--force-local` or specyfying the `--extra-pkg` list but the good thing is that after quick testing it seemed to inclide all the required packages! :)

[2018-08-03 05:36] #85 closed

[2018-08-03 05:49] aparcar commented on #85
Glad it's fixed, sorry for not responding I have currently no build environment to test it meyself

[2018-08-04 23:13] netzcoop opened #86 "lime-smart-wifi"
Hello,
how can we add lime-smart-wifi to the packagebuild.

we tried:
in flavors.local:
lime_camp="lime-basic-no-ui lime-debug  -dnsmasq -wpad-mini wpad-mesh lime-smart-wifi"

and in the
feeds.config:
src-git libremesh https://github.com/libremesh/lime-packages.git

The Cooker comand is:
 ./cooker -c ar71xx/generic --flavor=lime_camp --profile=tl-wdr4300-v1 --community=camp/cpublic   ( --extra-pkg

[2018-08-05 03:41] aparcar commented on #86
The package isn't (yet) compiled for libremesh. However I started the compile process for both 17.06 and snapshots, within the next ours it should be possible to install.

To build it on your own you have to edit `libremesh.sdk.config` and add `CONFIG_PACKAGE_lime-smart-wifi=m` and run `./cooker -b ar71xx/generic`. This does take some time...

[2018-08-05 09:17] netzcoop commented on #86
thank you!
i give the  buildprocess a try

[2018-08-07 09:04] netzcoop commented on #86
Nice it is working (compiled with 17.06) with  our wdr4300 and ubnt-unifiac-lite.
With adding to lime_defaults:
config smart_wifi 'smart_wifi'
    option ap_2ghz '1'
    option ap_5ghz '0'
    option mesh_2ghz '0'
    option mesh_5ghz '1'
    option all_to_mesh '0'
    option all_to_ap '0'
    list channels_2ghz '11 6 1'
    list channels_5ghz '44 128 100'

[2018-08-07 09:19] aparcar commented on #86
:rocket:

[2018-08-07 09:26] netzcoop opened #87 "Problem with configuration of single radio TP-Link CP510 with encrypted mesh"
The TP-Link CP510 (having only 5G) creates a mesh over the 5G (encrypted) and we can see him with bmx6 (orin the other setup with bmx7), but he is not in the configured subnet (10.5*.*) instead he uses the ip 192.168.1.1.
So it is not possible to use the router as Gateway.

We want to use this router as a bridge for longer distances and to offer net over wdr4300 or the TP-Link CP210.

We tried wit

[2018-08-07 10:01] dangowrt commented on #87
Hi!

On Tue, Aug 07, 2018 at 02:26:58AM -0700, netzcoop wrote:

'bridging' is a layer-2 concept. you can do that with batman-adv, but
what bmx6/7 does is routing, ie. setup routes between layer-3 subnets.
Please elaborate a bit more **which** router cannot be used as a
gateway into **which** network and why.

you miss all the mesh-specific wifi settings in the wifi section.
maybe add something lik

[2018-08-07 10:05] dangowrt commented on #86
On Tue, Aug 07, 2018 at 02:04:31AM -0700, netzcoop wrote:

Nice! So that's where the wifi settings (missing in your other post)
come from in the end.

PLEASE use '1 5 9 13' instead, this setting wastes about 1/3 of the
spectrum only to support ancient CCK rates (ie. we can have one
additional non-overlapping channel in 2.4GHz if we just set
option legacy_rates '0')

[2018-08-07 10:11] netzcoop commented on #86
thanx for the hint i will fix this.

[2018-08-07 10:16] aparcar commented on #86
Please create a PR to change the defaults, I'm happy to merge it

[2018-08-07 11:09] netzcoop commented on #87
my bad you are right, i copied the wrong "config lime wifi" we (have multiple tried) use:
config lime wifi
        option channel_5ghz '36'
        option htmode_5ghz 'HT40'
        list modes 'ieee80211s'
        option ieee80211s_mesh_fwding '0'
        option ieee80211s_mesh_id 'camp'
        option ieee80211s_encryption 'psk2+ccmp'
        option ieee80211s_key 'xxxxxxxxxxxxxxxxx'
        opti

[2018-08-07 11:12] netzcoop commented on #87
i tested with the bmx7 setup and bmx6 setup...

[2018-08-07 11:25] netzcoop commented on #86
@aparcar:  sry do you mean dangowrt with the list channels or me with change: option mesh_2ghz '0' in the 90_lime-smart-wifi ?

[2018-08-07 12:34] dangowrt commented on #87
You can totally do that, however, a lot of values (like addresses) are
calculated on the base of the ap_ssid, so you still need to set that
even if you don't actually use the device as an AP.

[2018-08-07 12:38] netzcoop commented on #87
ok i understand,
thx for the info

[2018-08-08 11:47] netzcoop commented on #87
can you tell me what is the preferred/best way to disable the AP if not needed.

The problem (with TP-Link CP510) is that the wlan0-mesh changes from Mode: Mesh Point to Mode: Client even if the AP is disabled....

[2018-08-09 00:00] aparcar commented on #87
Remove ap and ap-name from the wifi modes section in the lime config file.

[2018-10-01 19:03] ilario commented on #86
@netzcoop I suppose the change should be in [90_lime-smart-wifi](https://github.com/libremesh/lime-packages/blob/master/packages/lime-smart-wifi/files/etc/uci-defaults/90_lime-smart-wifi) from:

` uci add_list lime-defaults.smart_wifi.channels_2ghz="1 11 6"`

to

` uci add_list lime-defaults.smart_wifi.channels_2ghz="1 5 9 13"`

Can anyone do the pull request?

[2018-10-01 19:11] ilario commented on #87
@netzcoop can we close this?

[2018-10-07 16:05] nicopace commented on #86
It is 1, 6 and 11 @ilario
https://en.wikipedia.org/wiki/List_of_WLAN_channels

[2018-10-07 16:05] #86 closed

[2018-10-07 16:20] ilario commented on #86
@nicopace even if I trust Wikipedia a lot, on wireless stuff I trust @dangowrt even more XD
Daniel suggested (in the comment above) to use the 1 5 9 13 channels.

[2018-10-07 16:37] nicopace commented on #86
Have not seen @dangowrt comment...
Can you share any reference to leave as documentation for this change?
Couldn't find any around... found mentions of it here:
* https://www.metageek.com/training/resources/design-dual-band-wifi.html
* European nations commonly use channels 1, 5, 9, and 13, four channels with some overlap: https://cromwell-intl.com/networking/wlan-specs.html
* AeroHive says: In Eu

[2018-10-10 11:16] netzcoop commented on #87
yes it can be closed

[2018-10-10 11:16] #87 closed

[2018-10-21 12:04] kleper opened #91 "Cook several firmware for different models."
How do you recommend that I write a script or can I tell the cooker to build, for example, all the firmware for the Ubiquiti and Tp-Link models?

I've been thinking about doing a cascade script that launches the process one by one, but I think it can be quite slow.

[2018-10-21 14:22] nicopace commented on #91
You can use this as an example:
build_and_cook_all.sh
https://github.com/libremesh/lime-sdk/blob/master/snippets/build_and_cook_all.sh

On October 21, 2018 7:04:12 AM CDT, Kleper <notifications@github.com> wrote:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2018-10-22 22:56] G10h4ck commented on #31
The reproducibility of the builds is guaranted for releases anyway because of tags used for repository feeds, but having to specify manually to update the feeds is quite antipattern in almost any case, so I would merge the related pullrequest

[2018-10-22 23:07] nicopace commented on #31
Like the approach... will review the code now.

[2018-10-22 23:08] nicopace commented on #31
jej, thought it was a PR... like the approach proposed by @G10h4ck

[2018-10-23 09:18] ilario commented on #31
Fixed by #70

[2018-10-23 09:18] #31 closed

[2018-10-23 13:34] gmarcos87 opened #92 "How to add a new feed to a working lime-sdk"
If I have a lime-sdk in use, already with its feeds downloaded and updated and I want to add a new one it is not enough to add it in feed.conf and run --update-feeds.
For lime-sdk to take the new packages I must force the feeds with --force. This results in you having to download all the feeds again, and in contexts like mine of low connectivity, it is often impossible.
Is that normal behavior? Di

[2018-10-23 13:57] gmarcos87 commented on #92
What I do now is manually enter the sdk folder and run:
`scripts/feeds install -p new_repo_folder_name_in_sdk_feeds -a`

[2018-10-23 22:52] nicopace commented on #92
I went through that a few times already... but don't remember how it's done now... Will come back to this later.
For me it was something like:
* adding the repo in the libremesh.feeds.conf file (or something like that)
* adding the packages I want to get compiled in a file also in the root of lime-sdk
* another step that I can't recall.

It would be great if this could be simplified... even it cou

[2018-10-29 11:20] 1am opened #93 "fd66:66:66:7:c693 IPv6 unaccessble but 2a00:1508:ac6:d000:: works ok"
Hello,

I'm trying to figure one thing out and can't wrap my head around it - maybe someone could help me with it.

I create a small mesh network (2-7 devices) and it works fine initially. I connect with my PC to it and can ssh/ping and open LuCi over IPv4 and IPv6 addresses in IPv6 fd66:66:66:7:c693:ff: subnet (which is shown in LuCi under [http://thisnode.info/cgi-bin/luci/status/bmx6/Nodes](htt

[2018-10-29 12:18] nicopace commented on #93
Hi Piotr,

Thanks for your question.
Quiestions go much better to the mailing list.
If this ends up being a bug (looks like it), we will also need what codebase you are using, and ways to reproduce it.

Thanks

On October 29, 2018 11:20:56 AM GMT, Piotr <notifications@github.com> wrote:

--
Enviado desde mi dispositivo Android con K-9 Mail. Por favor, disculpa mi brevedad.

[2018-10-29 14:06] ilario commented on #93
That's an veryveryvery interesting question, I neither know how to get a 100% working IPv6 from LuCi.

The way I usually use for connecting to nodes is hostname.lan, e.g. for a node with MAC address `aa:aa:aa:bb:cc:dd` the working address will be `lime-bbccdd.lan`

[2018-10-29 14:27] 1am commented on #93
Thank you for your responses. I'll move my question to the mailing list and fill in the blanks.

[2018-10-31 12:27] 1am commented on #93
Unfortunately there's no response in the mailing list so far.

I don't know what to set up in LuCi or even if it makes any sense to force it to show 2a00:: addresses? That would be perfect to begin with.

When it comes to using the .lan suffix I think they were gone after a while also (together with the fd66: addresses) and the only thing which worked repeatedly is the 2a00.

[2018-10-31 12:34] ilario commented on #93
I'm not sure I got this bit.
Do you mean that the resolving of lime-bbccdd.lan stopped working after a while for IPv6? Does this happen also for IPv4?
Just for understanding, something like:

 while true; do host lime-bbccdd.lan; sleep 60; done

Would show good results at first and then start failing after a while?
In this case, can you check that the DNS server direction on your PC didn't change?

[2018-10-31 17:13] 1am commented on #93
I'm attaching a screenshot with log of my pinging 2 nodes, each under fd66: and 2a00: networks + doing `host lime-bbccdd.lan` on each of them.

Both addresses from fd66: disappear pretty much in the same moment but the rest works ok.
This happens on my Linux machine and I can't reproduce this under OSX which I've launched at the same time so i guess this is good news as there would be no issue and

[2018-10-31 21:01] 1am commented on #93
I think this can be somehow related to systemd-resolved or dhclient behaviour on my linux.

Could it be related to the `Grace period over, resuming full feature set (UDP+EDNS0) for DNS server` logged by systemd-resolved at 20:25:57 ?

I've trimmed my journal to the interesting part. Around 20:42 is where pings start failing and it's very close to the dhclient lease timeout set at 20:18:59. Maybe y

[2018-11-01 06:03] 1am commented on #93
I tried the approach described in [ubuntu 17.04 Switching to DNS server issue
](https://superuser.com/a/1222605) and switched to unbound on my linux but the result is the same.
The journal entry from the time when visibility of fd66 addresses ends is corelated in time with these entries:

[code]

Actually it stops after `Cannot reach: https://daisy.ubuntu.com`

[2018-11-13 14:48] nordurljosahvida commented on #49
Hi. I'm not sure what the intended behaviour is, but my images build with lime-sdk are still based on LEDE 17.01, why are they not using openwrt?

Thanks!

[2018-11-13 15:32] ilario commented on #49
@nordurljosahvida upcoming release will be based on OpenWrt, but current stable release (Dayboot Rely, 17.06) is based on LEDE

[2018-11-13 15:49] nordurljosahvida commented on #49
@ilario thanks for the info

[2018-11-23 19:24] nordurljosahvida commented on #49
@ilario another question sorry, I see that on snapshots.libremesh.org some dev builds were based on 18.06, how could I reproduce the same result with sdk? I have a MIR3G which I've just gotten owrt installed onto, and I'd love to test it out with LiMe.

Thanks!

[2018-11-23 19:34] ilario commented on #49
I don't know, let's ask @p4u @aparcar @nicopace @altergui

[2018-11-23 20:28] nordurljosahvida commented on #49
cool thanks

[2018-11-25 14:31] nordurljosahvida commented on #49
@ilario These routers are amazing by the way. They might not be libre as the LibreRouter but they're 30€ each, AC1200, very beautiful and small, and seem to work great with openwrt. It takes about 15 minutes to [flash openwrt](https://forum.openwrt.org/t/xiaomi-wifi-router-3g/5377/57) onto them as you need to enable SSH onto them first, but once that's done you're good to go. I think they'd be an

[2018-11-25 14:39] ilario commented on #49
while we wait for @p4u's answer, you can try to compile using lime-sdk branch develop, maybe taking some changes from openwrt-18.06 branch for compiling on 18.06 rather than on trunk:

https://github.com/libremesh/lime-sdk/compare/develop...openwrt-18.06

[2018-11-25 15:54] nordurljosahvida commented on #49
Perfect thanks! I've used the 18.06 branch as it is for now, to test things out, and I see the profile!

[code]

[2018-11-26 21:30] ilario commented on #93
libremesh/lime-packages#431

[2018-11-27 18:32] nordurljosahvida opened #95 "LiMe networks trick clients into thinking IPv6 is available"
Every since I started using LiMe, any client on the lan thinks the network is IPv6 enabled, even though the only gateway in the network is IPv4 only. This happens across every LiMe deployment I have.

[code]

Therefore anytime an address is resolved in IPv6, some clients, such as android devices, try using the IPv6 address, and of course connections fail.

I've noticed that an IPv6 range is genera

[2018-11-27 18:34] nicopace commented on #95
The relevant data would be `ip -6 r`
Everyone gets an ipv6 address, but doesn't mean that you have a route
assigned over it.
Please let us know what is the output of that command.
Thanks,

On 11/27/18 12:32 PM, Nicolas North wrote:

[2018-11-27 18:37] ilario commented on #95
It also happened to me, annoying, please check this: libremesh/lime-packages#236

[2018-11-27 18:42] nordurljosahvida commented on #93
Not sure if this is related, but ever since I've started using LiMe, I cannot ping any node other than the one I'm currently connected to.

First off, the ping command always fails when using addresses such as `fe80::a62b:b0ff:fede:ad4c`, as found in the `BATMAN` page, not sure if that's normal. The only addresses that are accepted by the ping command are the ones found under the `BMX6 -> nodes` p

[2018-11-27 18:47] nordurljosahvida commented on #95
Thank you for the super fast reply.

Here it is:

[code]

This is a VM running on my pc, but I'm using connection sharing rather than a bridge. However this issue happens on all devices I have, and on android devices especially, many apps do this. I think it also depends on how the ns resolution is performed. To give you a very specific example, the conversations XMPP client will try connecting to

[2018-11-27 18:49] nicopace commented on #95
Just helping to have as much information as possible for others to debug :)

It looks like you have a default gateway... so if the DNS resolves to a
AAAA record, it will try to use that.

Perhaps the thread @ilario mentioned can help.

On 11/27/18 12:47 PM, Nicolas North wrote:

[2018-11-27 19:10] nordurljosahvida commented on #95
Cool thanks. I hope we can figure this out. Let me know if any further data is needed.

[2018-11-27 19:13] nordurljosahvida commented on #49
@ilario i'm having some issues on 18.06 on develop branch. when lime-config runs, it breaks meshing with other nodes. so if i just flash a node and start it up, it works. if i change the node name, either from web or from `/etc/config/lime`, then run `lime-config`, things break. resetting to defaults from backup/flash firmware page works. should i open an issue or would it just generate noise, bei

[2018-11-28 11:20] ilario commented on #93
@nordurljosahvida the IPv6 addresses strting with fe80: are the link-local ones, they can be used just specifying the network interface to use and they are not routed. In a BATMAN adv connected network you can use this for connecting to every router, as you're all in the same broadcast domain. You can use it also for SSH (and I can't remember if even browsers support link local, I don't think so).

[2018-11-28 11:24] ilario commented on #49
I suggest to open a new issue, we will need the content of /etc/config/network and of /etc/config/wireless before and after. If there's nothing looking weird you can add some more of the info listed in libremesh/lime-packages#423

[2018-11-28 15:31] nordurljosahvida commented on #49
ok great thanks

[2018-11-29 21:05] G10h4ck commented on #95
Nexthop should answer with an ICMP unreachable packet, if the client have no strange firewall rules it should be unnoticeable the delay caused by having the IPv6 default route

[2018-12-03 19:52] p4u opened #96 "lime-sdk develop branch should point to libremesh-packages master branch"
https://github.com/libremesh/lime-sdk/blob/6d1bc029c270a84d196f1df7c6c6d96b80f3a2cb/feeds.conf.default#L6

Is there a reason why lime-sdk develop branch points to libremesh 17.06 instead of Master? @aparcar @ilario @G10h4ck @nicopace

[2019-01-18 12:09] ilario commented on #49
Some more has been addressed in #97

[2019-01-26 20:27] ilario commented on #54
Wait, I didn't propose to build non-LibreMesh packages, just to add the direction to the official repository (where OpenWrt people update their compiled packages).

[2019-03-04 00:14] kleper opened #98 "DHCP Server on Nodes"
Hello,
I am trying to deactivate the DHCP server of each of the nodes that I have with LibreMESH, I have tried modifying the configuration files of lime-default but something has not gone well and I had to reinstall the firmware.

Thank you.

[2019-03-04 10:17] ilario commented on #98
That's a good question!!
Could you add some details about your usecase and why you don't want the DHCP to be there?
But, @kleper, could you re-write the issue on [lime-packages](https://github.com/libremesh/lime-packages/) which is the proper repo for configuration issues?

[2019-06-26 10:07] #96 closed

[2019-06-26 10:07] #49 closed

[2019-06-26 10:08] #54 closed

[2019-06-26 10:14] ilario commented on #49
@p4u are you sure it is fixed?
There are still mentions to LEDE in Readme and in flavors.conf:
https://github.com/libremesh/lime-sdk/search?q=lede

[2019-06-28 17:42] patogit commented on #49
current LibreMesh development by the LibreRouter team is happening [at this repo](https://github.com/LibreRouterOrg/openwrt/tree/librerouter-18.06) and is not using the lime-sdk, but instead the process described in the readme there.

[2019-06-28 18:59] p4u commented on #49
Fixed!

LibreMesh and LibreRouter are diferent projects. LibreMesh should be compatible with LibreRouter but also with many other devices. It makes sense that LibreRouter has its own specific tools, but LibreMesh should keep its generic behaviour (not dependent on any specific hardware device).

Cheers.

[2019-06-28 21:17] patogit commented on #49
I agree!!! I don't understand the function of lime-sdk given that now I'm using the OpenWrt method of making firmware (git clone, update feeds, install feeds, edit .config, make), which LibreRouter development uses too.

[2019-06-29 05:35] patogit opened #100 "Cook appears successful but no files are generated"
Both `--remote` and local appear to create firmware but the `output` directory is empty. I can't find the prepared firmware anywhere.
[code]
local build:
[code]
Am I on the wrong branch?
[code]

[2019-08-12 10:02] ilario opened #101 "Replace lime-full metapackage with a list of packages in develop and master branch"
`lime-full` metapackage has been removed months ago (https://github.com/libremesh/lime-packages/pull/513) but it is still included in the lime_default [flavor](https://github.com/libremesh/lime-sdk/blob/develop/flavors.conf) for the default lime-sdk branch (which is develop).
It has to be replaced with `lime-basic` + a list of packages.
In the master branch I already fixed this with #99

[2019-08-12 12:32] ilario opened #102 "lime-packages/develop branch non-existent"
Currently lime-sdk default branch (which is develop) [is looking for the LibreMesh code on the lime-packages/develop branch](https://github.com/libremesh/lime-sdk/blob/develop/feeds.conf.github#L6) that has been deleted long time ago.
We could point to lime-packages/master branch but, considering that lime-sdk is getting less and less supported, I would keep this tool available just for compiling

[2019-08-14 15:55] ilario commented on #101
Seems that the "master" branch I fixed in #99 has been renamed to old_master ( ***WTF*** ) and the current master was renamed from another one. So that this problem is not fixed neither in the current master.

[2019-08-14 18:06] p4u commented on #101
master lime-sdk branch was pointing to the old and outdated libremesh release which is not maintained . So I decided to remove the support to that release and support only the current master libremesh branch (which contains the last libremesh features).

If you want to maintain the support to the old libremesh release, let's do it in a branch named "release17.06". But from now on lime-sdk master b

[2019-08-14 18:11] p4u commented on #102
Fixed

My approach is to support only libremesh master branch and not the release 17.06 anymore. If you wish to maintain it, lets create a specific branch for this release.

Thanks

[2019-08-15 14:22] pedro-nonfree opened #104 "error compiling lime_bmx7 flavor with 18.06.4"
Hi,

I have an environment to compile openwrt (so I hope all dependencie are OK). I'm experiencing problems running lime-sdk master branch latest commit https://github.com/libremesh/lime-sdk/commit/eae984428969d10357dc22515bea51c9f0bbd832 (I don't have previous experience building this for earlier commits)

[code]

part of the output

[code]

[2019-08-15 15:12] p4u commented on #104
There is some error on the building phase, so when trying to "cook" the
packages it fails because they have not been created previously.

Take a look to the README.md https://github.com/libremesh/lime-sdk

I'd execute just the building step, like this:

`J=1 V=s ./cooker -b x86/64`

Check `./cooker --help` also to know this kind of tricks)

It's probably that your host system is missing some libra

[2019-08-15 16:00] p4u commented on #104
I just tried `./cooker -c x86/64 --profile=Generic --flavor=lime_bmx7` in a new lime-sdk setup and it worked fine. So I confirm that is something from your local computer.

[2019-08-15 17:04] pedro-nonfree commented on #104
ok sorry for not debugging appropiately (`J=1 V=s ./cooker -b x86/64`), false alarm, `svn not found` [1] and seems I could do some openwrt buildings in that system

    apt install subversion

after that `./cooker -c x86/64 --profile=Generic --flavor=lime_bmx7` worked

thanks

[1]

[code]

[2019-08-15 17:04] #104 closed

[2019-08-27 18:06] brunovianna opened #105 "the only flavor working seems to be bmx7"
When I cook a bmx7 firmware with this command everything runs fine:

 ./cooker -c ar71xx/generic --profile=tl-wdr3500-v1 --flavor=lime_bmx7 --remote

If I try any other flavor like lime_default, lime_mini etc, it won't create the files. Build log
[last-build.log](https://github.com/libremesh/lime-sdk/files/3547500/last-build.log)
 is attached.

[2019-08-27 21:36] nybash opened #106 "dnsmasq-lease-share conflicts with shared-state-dnsmasq_leases"
I wonder but it is happening!

[code]

[lime_build.txt](https://github.com/libremesh/lime-sdk/files/3548210/lime_build.txt)

[2019-09-05 20:21] ilario commented on #105
In the log I can't see anything useful...
Can you run cooker prepending a "V=s" string?
Like:
[code]

[2019-09-05 21:02] ilario commented on #106
Which lime-sdk branch are you using?

dnsmasq-lease-share pertains to 17.06 release

shared-state-dnsmasq_leases pertains to the yet to be released release, and is the replacement of dnsmasq-lease-share so it makes sense that they cannot be together, right @G10h4ck?

Could you inspect what selects each of these packages?

[2019-09-06 13:27] kleper opened #107 "Failure in compilation sdk branch master"
I'm trying to compile using the master branch that uses openwrt 18.04 but I have an error that I couldn't debug.

I'm using the command:
J=1 V=s ./cooker -c ar71xx/generic --flavor=lime_default --profile=ubnt-nano-m-xw --community=NuestraRed.org/hacklime

The error I get is the following:
Configuring lime-debug.
Configuring ppp-mod-pppoe.
make[2]: *** [Makefile:153: package_install] Error 255
make

[2019-09-06 14:11] brunovianna commented on #105
sure, here it is. i also dumped the output to a file so you can see the error.

issue #107 seems to be the same

[output.txt](https://github.com/libremesh/lime-sdk/files/3584286/output.txt)
[last-build.log](https://github.com/libremesh/lime-sdk/files/3584284/last-build.log)

[2019-09-06 20:55] ilario commented on #102
So, it got fixed changing the default branch from develop (still broken) to master (points to the correct branch). Closing.

[2019-09-06 20:57] ilario commented on #102
LOL no, I was wrong. This is not fixed in neither of the branches.

[2019-09-06 21:00] ilario commented on #101
This was fixed in 5d7d1bde6cf53f0030ff50a0a4e0496c4510758a for the master branch.

[2019-09-06 21:00] #101 closed

[2019-09-06 21:20] ilario commented on #107
In the linked log there is no error, can you check if the linked log is the correct one?
Anyway there are a few issues (#102 #105) with lime-sdk which prevent it from working.
Do you need to compile LibreMesh 17.06 or the development version?

[2019-09-06 21:27] ilario commented on #105
Ehm, I cannot really understand what's wrong from the log...
@p4u can you have a look?

[2019-09-07 15:22] nickbash11 commented on #106
Branch is master

[2019-09-07 18:01] ilario commented on #106
So do you want to compile LibreMesh 17.06 (in which case I should study how to do this with OpenWrt buildroot, easy but I fear undocumented) or the latest LibreMesh code [in this case I suggest you to use the instructions for the buildroot (update under revision [here](https://github.com/libremesh/lime-web/blob/b2faddc205a9f0f631b78d1dc04fc3811360337e/development.txt#L45) and official instructions

[2020-12-05 11:07] nordurljosahvida opened #108 "Project still active? opkg_download URLs offline"
After two years I'm trying to build once again for a project, I'm getting:

[code]

I used to use branch develop, but I see others are having trouble. I've tried with master, same results.

I also get:

[code]

on Ubuntu 20 although I have the first two installed [for the third instead, is python2 still really required?]

Also, the new chef.libremesh.org doesn't support communities, right?

Thanks

[2020-12-05 11:16] ilario commented on #108
Yesss, the project is still active, but currently no SDK nor Chef are supported.

The only currently supported compilation method is the Buildroot one described on this page:

https://libremesh.org/development.html

This week @spiccinini is likely going to tag a release (3 years since the last official one!!) so the instructions currently on the linked page will result in a good and tested firmwar

[2020-12-05 11:16] ilario commented on #108
For staying updated please join the lime-users mailing list and the Element/IRC chat: https://libremesh.org/communication.html

[2020-12-05 11:44] nordurljosahvida commented on #108
ok great thanks! I've noticed some noise in the ML but haven't been keeping track all that much. So will SDK/Chef be re-introduced in the future? What's the best way to perform a custom deployment on several routers right now, with AP names and other custom stuff applied?

[2020-12-05 11:57] ilario commented on #108
If you indeed want to resurrect lime-sdk, seems easy.
The new directions of the repositories are listed here:
https://github.com/libremesh/lime-packages/blob/e78b43a72367508da25f6eb16c410b16328be9d9/packages/lime-system/files/etc/uci-defaults/92_add-lime-repos#L16-L21
And this has to be reflected here:
https://github.com/libremesh/lime-sdk/blob/master/libremesh.repositories.conf

And yes, python2

[2020-12-05 12:00] ilario commented on #108
We included the possibility (@aparcar did) to use the network-profiles in the buildroot.
The network-profiles will have to be updated in order to be used as package: https://github.com/libremesh/network-profiles/issues/66

Then you'll find the profiles in the LibreMesh category of the buildroot menuconfig.

[2020-12-05 13:24] ilario commented on #108
Anyway I'm not sure the lime-sdk is the best choice.
I did like a lot @aparcar's metabuilder: https://github.com/aparcar/openwrt-metabuilder but now it's archived.
@aparcar what would you suggest to adopt?

[2020-12-06 04:08] aparcar commented on #108
The feeds are outdated, the rest may work. I'm no longer maintaining these scripts.

[2020-12-06 10:32] ilario commented on #108
Ok :) and do you know if there is any actively maintained alternative? @aparcar

If no better alternative comes up, we should evaluate whether to update lime-sdk or fork openwrt-metabuilder (I prefer the second option).

[2020-12-06 14:45] nordurljosahvida commented on #108
What are you doing now to build for your communities?

[2020-12-06 14:49] nordurljosahvida commented on #108
And among all of these projects, what has had the most success historically, for what reason were they stopped being maintained, and which one would you like to adopt in the future except for buildroot?

[2020-12-07 09:20] ilario commented on #108
I have no network community right now, neither in Tarragona nor in Verona.
Can you ask this question in the lime-users mailing list where more people can read and answer?

For LibreMesh we never officially supported openwrt-metabuilder but we did support lime-sdk.

I don't know. @aparcar @p4u
The death of lime-sdk is possibly related to the development of LibreRouterOS (a distribution of LibreMesh